### Grab our imports

In [1]:
import pandas as pd
import numpy as np

### Assign our URLs to variables and create our dataframes

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [4]:
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [5]:
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)

### Replace "/N" in our dataframes with true numpy null value

In [6]:
basics_df = basics_df.replace({'\\N':np.nan})
akas_df = akas_df.replace({'\\N':np.nan})
ratings_df = ratings_df.replace({'\\N':np.nan})

### Drop all rows without a runtime listed

In [7]:
basics_df = basics_df.dropna(subset='runtimeMinutes')
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2471921 entries, 0 to 9221339
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 188.6+ MB

### Drop all rows without a genre listed

In [8]:
basics_df = basics_df.dropna(subset='genres')
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2404489 entries, 0 to 9221339
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 183.4+ MB

### Keep only rows where it's listed in titleType as a "movie"

In [9]:
basics_df = basics_df[basics_df['titleType']=='movie']
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367884 entries, 8 to 9221290
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          367884 non-null  object
 1   titleType       367884 non-null  object
 2   primaryTitle    367884 non-null  object
 3   originalTitle   367884 non-null  object
 4   isAdult         367884 non-null  object
 5   startYear       362023 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  367884 non-null  object
 8   genres          367884 non-null  object
dtypes: object(9)
memory usage: 28.1+ MB

### Remove null values from startYear, convert to integer, and filter the dataframe for only moves 2000-2022

In [10]:
basics_df = basics_df.dropna(subset='startYear')
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362023 entries, 8 to 9221290
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          362023 non-null  object
 1   titleType       362023 non-null  object
 2   primaryTitle    362023 non-null  object
 3   originalTitle   362023 non-null  object
 4   isAdult         362023 non-null  object
 5   startYear       362023 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  362023 non-null  object
 8   genres          362023 non-null  object
dtypes: object(9)
memory usage: 27.6+ MB

In [11]:
basics_df['startYear'] = basics_df['startYear'].astype("int")
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 362023 entries, 8 to 9221290
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          362023 non-null  object
 1   titleType       362023 non-null  object
 2   primaryTitle    362023 non-null  object
 3   originalTitle   362023 non-null  object
 4   isAdult         362023 non-null  object
 5   startYear       362023 non-null  int32
 6   endYear         0 non-null       object
 7   runtimeMinutes  362023 non-null  object
 8   genres          362023 non-null  object
dtypes: int32(1), object(8)
memory usage: 26.2+ MB

In [12]:
basics_df = basics_df[basics_df['startYear']>=2000]
basics_df['startYear'].value_counts()

2017    14208
2018    14147
2016    13830
2019    13819
2015    13330
2014    12982
2013    12278
2021    11757
2012    11542
2020    11261
2011    10687
2010    10129
2009     9277
2022     8196
2008     8075
2007     6889
2006     6435
2005     5761
2004     5135
2003     4531
2002     4087
2001     3816
2000     3595
2023      348
2024       31
2025       10
2026        2
2027        1
Name: startYear, dtype: int64

In [13]:
basics_df = basics_df[basics_df['startYear']<=2022]
basics_df['startYear'].value_counts()

2017    14208
2018    14147
2016    13830
2019    13819
2015    13330
2014    12982
2013    12278
2021    11757
2012    11542
2020    11261
2011    10687
2010    10129
2009     9277
2022     8196
2008     8075
2007     6889
2006     6435
2005     5761
2004     5135
2003     4531
2002     4087
2001     3816
2000     3595
Name: startYear, dtype: int64

### Eliminate all movies that include "Documentary" in the genre

In [14]:
is_documentary = basics_df['genres'].str.contains('documentary',case=False)
basics_df = basics_df[~is_documentary]
basics_df['genres'].value_counts()

Drama                        34850
Comedy                       13119
Comedy,Drama                  6276
Horror                        5612
Drama,Romance                 4179
                             ...
Adventure,History,War            1
Biography,Fantasy,History        1
Adventure,Romance,Sport          1
Action,Music,Sci-Fi              1
Crime,Fantasy,Sci-Fi             1
Name: genres, Length: 970, dtype: int64

### For our "AKA" dataframe, we need to remove any movies not from the U.S.

In [19]:
akas_df = akas_df[akas_df['region']=="US"]

In [20]:
akas_df['region'].value_counts()

US    1348747
Name: region, dtype: int64

In [23]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260762 entries, 0 to 1260761
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1260762 non-null  object
 1   averageRating  1260762 non-null  float64
 2   numVotes       1260762 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

### Now we need to filter down our Basics and Ratings dataframe, to only those that match up with our AKA dataframe

In [24]:
basics_keepers = basics_df['tconst'].isin(akas_df['titleId'])
ratings_keepers = ratings_df['tconst'].isin(akas_df['titleId'])

basics_df = basics_df[basics_keepers]
ratings_df = ratings_df[ratings_keepers]

### Now let's reverse the same logic and trim down our AKA and Ratings dataframes to only those that are left in our original basic_df

In [29]:
aka_keepers = akas_df['titleId'].isin(basics_df['tconst'])
ratings_keepers_2 = ratings_df['tconst'].isin(basics_df['tconst'])

akas_df = akas_df[aka_keepers]
ratings_df = ratings_df[ratings_keepers_2]

In [30]:
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82476 entries, 34792 to 9221105
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82476 non-null  object
 1   titleType       82476 non-null  object
 2   primaryTitle    82476 non-null  object
 3   originalTitle   82476 non-null  object
 4   isAdult         82476 non-null  object
 5   startYear       82476 non-null  int32
 6   endYear         0 non-null      object
 7   runtimeMinutes  82476 non-null  object
 8   genres          82476 non-null  object
dtypes: int32(1), object(8)
memory usage: 6.0+ MB

In [31]:
akas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91970 entries, 195439 to 33172476
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          91970 non-null  object
 1   ordering         91970 non-null  int64
 2   title            91970 non-null  object
 3   region           91970 non-null  object
 4   language         928 non-null    object
 5   types            84894 non-null  object
 6   attributes       4246 non-null   object
 7   isOriginalTitle  91970 non-null  object
dtypes: int64(1), object(7)
memory usage: 6.3+ MB

In [32]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67739 entries, 17876 to 1260740
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         67739 non-null  object
 1   averageRating  67739 non-null  float64
 2   numVotes       67739 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.1+ MB

### Now let's save each of our three dataframes to our repo

In [35]:
basics_df.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)
akas_df.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)
ratings_df.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

### Quick test to verify it worked

In [34]:
basics_test = pd.read_csv('Data/title_basics.csv.gz', low_memory = False)
basics_test.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama